model: {
  second: {
    network_class_name: "VoxelNet"
    voxel_generator {
      point_cloud_range : [-50, -50, -10, 50, 50, 10]
      voxel_size : [0.25, 0.25, 20]
      max_number_of_points_per_voxel : 60
    }
    voxel_feature_extractor: {
      module_class_name: "PillarFeatureNet"
      num_filters: [64]
      with_distance: false
      num_input_features: 4
    }
    middle_feature_extractor: {
      module_class_name: "PointPillarsScatter"
      downsample_factor: 1
      num_input_features: 64
    }
    rpn: {
      module_class_name: "RPNV2"
      layer_nums: [3, 5, 5]
      layer_strides: [2, 2, 2]
      num_filters: [64, 128, 256]
      upsample_strides: [0.25, 0.5, 1]
      num_upsample_filters: [128, 128, 128]
      use_groupnorm: false
      num_groups: 32
      num_input_features: 64
    }
    loss: {
      classification_loss: {
        weighted_sigmoid_focal: {
          alpha: 0.25
          gamma: 2.0
          anchorwise_output: true
        }
      }
      localization_loss: {
        weighted_smooth_l1: {
          sigma: 3.0
          code_weight: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    num_point_features: 4 # model's num point feature should be independent of dataset
    # Outputs
    use_sigmoid_score: true
    encode_background_as_zeros: true
    encode_rad_error_by_sin: true
    sin_error_factor: 1.0

    use_direction_classifier: true
    direction_loss_weight: 0.2
    num_direction_bins: 2
    direction_limit_offset: 0
    direction_offset: 0.78

    # Loss
    pos_class_weight: 1.0
    neg_class_weight: 1.0

    loss_norm_type: NormByNumPositives
    # Postprocess
    post_center_limit_range: [-59.6, -59.6, -10, 59.6, 59.6, 10]
    nms_class_agnostic: false # only valid in multi-class nms
    box_coder: {
      ground_box3d_coder: {
        linear_dim: false
        encode_angle_vector: false
      }
    }
    target_assigner: {
      class_settings: {
        class_name: "car"
        anchor_generator_range: {
          sizes: [1.925325768, 4.756200106, 1.718286574] # wlh
          anchor_ranges: [-50, -50, -1.07150247, 50, 50, -1.07150247]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.25
        unmatched_threshold : 0.2
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "bicycle"
        anchor_generator_range: {
          sizes: [0.625310684, 1.763283065, 1.44144997] # wlh
          anchor_ranges: [-50, -50, -1.07093016, 50, 50, -1.07093016]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.2
        unmatched_threshold : 0.15
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "bus"
        anchor_generator_range: {
          sizes: [2.956545652, 12.3415549318, 3.4368799404] # wlh
          anchor_ranges: [-50, -50, -0.35194054, 50, 50, -0.35194054]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "animal"
        anchor_generator_range: {
          sizes: [0.35934946236, 0.7311236559, 0.5149838709] # wlh
          anchor_ranges: [-50, -50, -1.797390948, 50, 50, -1.797390948]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.4
        unmatched_threshold : 0.3
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "motorcycle"
        anchor_generator_range: {
          sizes: [0.9632603911, 2.3524938875, 1.585487775] # wlh
          anchor_ranges: [-50, -50, -1.3220502628, 50, 50, -1.3220502628]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.2
        unmatched_threshold : 0.15
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "pedestrian"
        anchor_generator_range: {
          sizes: [0.772448828, 0.806255945, 1.775255624] # wlh
          anchor_ranges: [-50, -50, -0.91222685, 50, 50, -0.91222685]
          rotations: [0] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          distance_similarity: {
            distance_norm: 1.414 # match range
            with_rotation: false
            rotation_alpha: 0.0 # rot error contribution
          }
        }
      }
      class_settings: {
        class_name: "other_vehicle"
        anchor_generator_range: {
          sizes: [2.787711619, 8.197575892, 3.227662601] # wlh
          anchor_ranges: [-50, -50, -0.62763411, 50, 50, -0.62763411]
          rotations: [0] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          distance_similarity: {
            distance_norm: 1.414 # match range
            with_rotation: false
            rotation_alpha: 0.0 # rot error contribution
          }
        }
      }
      class_settings: {
        class_name: "emergency_vehicle"
        anchor_generator_range: {
          # sizes: [2.4478787878, 12.0132069, 3.81509561] # wlh
          sizes: [2.4478787878, 6.523545454, 2.393090909]
          anchor_ranges: [-50, -50, -0.887142405, 50, 50, -0.887142405]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      class_settings: {
        class_name: "truck"
        anchor_generator_range: {
          sizes: [2.844550480, 10.240011719, 3.436063188] # wlh
          anchor_ranges: [-50, -50, -0.303373657, 50, 50, -0.303373657]
          rotations: [0, 1.57] # DON'T modify this unless you are very familiar with my code.
          # custom_values: [0, 0] # velocity vector base value
        }
        matched_threshold : 0.5
        unmatched_threshold : 0.35
        use_rotate_nms: false
        use_multi_class_nms: false
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.05
        nms_iou_threshold: 0.5
        region_similarity_calculator: {
          nearest_iou_similarity: {}
        }
      }
      sample_positive_fraction : -1
      sample_size : 512
      assign_per_class: true
    }
  }
}

train_input_reader: {
  dataset: {
    dataset_class_name: "LyftDataset"
    kitti_info_path: "/home/muzi2045/nvme0/lyft_dataset/v1.01-train/infos_train.pkl"
    kitti_root_path: "/home/muzi2045/nvme0/lyft_dataset/v1.01-train"
  }
  
  batch_size: 2
  preprocess: {
    max_number_of_voxels: 25000
    shuffle_points: false
    num_workers: 2
    groundtruth_localization_noise_std: [0, 0, 0]
    groundtruth_rotation_uniform_noise: [0, 0]
    # groundtruth_localization_noise_std: [0.25, 0.25, 0.25]
    # groundtruth_rotation_uniform_noise: [-0.15707963267, 0.15707963267]
    global_rotation_uniform_noise: [0, 0]
    global_scaling_uniform_noise: [0.95, 1.05]
    global_random_rotation_range_per_object: [0, 0]
    global_translate_noise_std: [0.2, 0.2, 0.2]
    anchor_area_threshold: -1
    remove_points_after_sample: true
    groundtruth_points_drop_percentage: 0.0
    groundtruth_drop_max_keep_points: 15
    remove_unknown_examples: false
    sample_importance: 1.0
    random_flip_x: true
    random_flip_y: true
    remove_environment: false
    database_sampler {
      database_info_path: "/home/muzi2045/nvme0/lyft_dataset/v1.01-train/kitti_dbinfos_train.pkl"
      sample_groups {
        name_to_max_num {
          key: "bus"
          value: 4
        }
      }
      sample_groups {
        name_to_max_num {
          key: "truck"
          value: 4
        }
      }
      global_random_rotation_range_per_object: [0, 0]
      rate: 1.0
    }
  }
}

train_config: {
  optimizer: {
    adam_optimizer: {
      learning_rate: {
        one_cycle: {
          lr_max: 3e-3
          moms: [0.95, 0.85]
          div_factor: 10.0
          pct_start: 0.4
        }
      }
      weight_decay: 0.01
    }
    fixed_weight_decay: true
    use_moving_average: false
  }
  steps: 140670 # 14065 * 20 (28130 // 2 )
  steps_per_eval: 23445 # 14065 * 2
  save_checkpoints_secs : 1800 # half hour
  save_summary_steps : 10
  enable_mixed_precision: false
  loss_scale_factor: -1
  clear_metrics_every_epoch: true
}

eval_input_reader: {
  dataset: {
    dataset_class_name: "NuScenesDataset"
    kitti_info_path: "/media/yy/960evo/datasets/nuscene/v1.0-trainval/infos_val.pkl"
    kitti_root_path: "/media/yy/960evo/datasets/nuscene/v1.0-trainval"
  }
  batch_size: 1
  
  preprocess: {
    max_number_of_voxels: 30000
    shuffle_points: false
    num_workers: 2
    anchor_area_threshold: -1
    remove_environment: false
  }
}
